/* Tabs */
/* https://www.w3schools.com/howto/howto_js_tabs.asp */


/* Style the tab */
.tab5 {
  overflow: hidden;
  border-bottom: 1px solid #535355;
  background-color: #28282B;
}

/* Style the buttons that are used to open the tab content */
.tab5 button {
  font-family: 'Segoe UI';
  font-size: 16px;
  background-color: #28282B;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border-bottom: 5px solid #28282B;
}

/* Change background color of buttons on hover */
.tab5 button:hover {
  background-color: #414145;
  border-bottom: 5px solid #414145;
}

/* Create an active/current tablink class */
.tab5 button.active {
  background-color: #28282B;
  border-bottom: 5px solid #65C5FF;
}

/* Style the tab content */
.tabcontent5 {
  display: none;
  padding: 16px 12px;
  border: 1px solid #535355;
  border-top: none;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
